---
layout: default
title: Home
sitemap: false
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <div class="post-categories">
      {% for category in post.categories %}
      {{category}}
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}{% include readtime.html %}
    </div>
      <a class="noa" href='{{ post.url }}'>{% assign nutshell = post.content | markdownify | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | split: '. ' | slice: 0, 3 %}
      {% for item in nutshell limit:2 %}{{ item | append: '. ' }}{% endfor %}
      {% for item in nutshell offset:2 limit:1 %}{{ item }}{% endfor %}</a>
      <a class="dothvr" href='{{ post.url }}'><span class="dot"></span><span class="dot dotc"></span><span class="dot"></span></a>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older left" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><span class="pagl"></span></a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer right" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><span class="pagr"></span></a>
  {% else %}
    <span class="pagination-item newer"></span>
  {% endif %}
</div>
