<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>

  <link href="/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Varela+Round" rel="stylesheet">
  <link sizes="180x180" href="/public/touch-icon-iphone.png" rel="apple-touch-icon">
  <link sizes="167x167" href="/public/touch-icon-ipad.png" rel="apple-touch-icon">
  <link href="/public/favicon.ico" rel="shortcut icon">
  <link title="{{ site.title }}" href="/atom.xml" rel="alternate" type="application/atom+xml">
</head>
