<span class="post-categories readtime" style="display:inline" title="Estimated read time">
  {% assign prl = page.url | slice: 0, 5 %}
  {% if prl == "/" or prl == "/page" %}
  {% assign nwords = post.content | strip_newlines | markdownify | strip_html | number_of_words | decrement %}
  {% else %}
  {% assign nwords = content | strip_newlines | markdownify | strip_html | number_of_words | decrement %}
  {% endif %}
  {% if nwords < 90 %}
  &middot;&nbsp;less than 1 min read
  {% elsif nwords == 90 or nwords > 90 and nwords < 180 %}
  &middot;&nbsp;1 min read {{ page.path }}
  {% else %}
  &middot;&nbsp;{{ nwords | divided_by:90 }} mins read {{ page.path }}
  {% endif %}
</span>
