<span class="post-categories readtime" style="display:inline" title="Estimated read time">
  {% assign prl = page.url | slice: 0, 4 %}
  {% if prl == "/" or prl == "/page" %}
  {% assign nwords = post.content | strip_newlines | markdownify | strip_html | number_of_words | decrement %}
  {% else %}
  {% assign nwords = content | strip_newlines | markdownify | strip_html | number_of_words | decrement %}
  {% endif %}
  {% if nwords < 90 %}
  &middot;&nbsp;estimated read time: less than 1 min
  {% elsif nwords == 90 or nwords > 90 and nwords < 180 %}
  &middot;&nbsp;estimated read time: 1 min {{ prl }}
  {% else %}
  &middot;&nbsp;estimated read time: {{ nwords | divided_by:90 }} mins {{ prl }}
  {% endif %}
</span>
