* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #3d3d3d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 40em) {
    font-size: 18px;
  }
}

body {
  color: #888888;
  //background-color: #3d3d3d;
  //background: #111;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #cecece;
  text-decoration: none;
  transition: color 0.2s;

  // `:focus` is linked to `:hover` for basic accessibility
  &:not(.nohover):hover,
  &:focus {
    position: relative;
    top: 1px;
    color: #c74438;
  }

  //strong {
    //color: inherit;
  //}
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}
