/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 10rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: visibility 0s, background-color 0s;
  transition: visibility 0s, background-color 0s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  visibility:hidden;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #3d3d3d;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 10rem;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: #cecece;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  /*background-image: url($baseurl + "/public/touch-icon-iphone.png");
  background-size: contain;*/
  
  /* logo animation */
  animation-duration: 1.5s;
  animation-fill-mode: both;
         
    @keyframes flipInX {
      0% {
        transform: perspective(400px) rotateX(90deg); 
       // opacity: 0;
      }
      50% {
        transform: perspective(400px) rotateX(-40deg);
      }
      70% {
        transform: perspective(400px) rotateX(25deg);
      }
      85% {
        transform: perspective(400px) rotateX(-15deg);
       // opacity: 1;
      }
      95% {
        transform: perspective(400px) rotateX(10deg);
      }
      100% {
        transform: perspective(400px) rotateX(0deg);
      }
    }
  
  backface-visibility: visible !important;
  animation-name: flipInX;
}

label[for="nav-trigger"]:hover {
  transform: perspective(1000px) rotateX(180deg);
}

/* Make the Magic Happen */
.nav-trigger + label, .wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 11.5rem;
}

.nav-trigger:checked ~ .wrap {
  left: 10rem;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger:checked ~ .navigation {
  -webkit-transition: visibility 0s, background-color 0s;
  transition: visibility 0s, background-color 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  background: #3d3d3d;
}

#b0 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: #555555;
  border-radius: 50%  
}

#b1 {
  position: absolute;
  top: .56rem;
  left: .77rem;
  display: block;
  width: 1.55rem;
  height: .75rem;
  background-color: white;
  border-radius: 50% 22% 22% 50% / 0% 50% 50% 0%;
}

#b2 {
  position: absolute;
  bottom: .56rem;
  left: .77rem;
  display: block;
  width: 1.65rem;
  height: .75rem;
  background-color: white;
  border-radius: 50% 20% 20% 50% / 0% 50% 50% 0%;
}

body {
  overflow-x: hidden;
}

/* Micro reset */
*,*:before,*:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/*html, body {
  height: 100%;
  width: 100%;
}*/
