// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: #3d3d3d;
  background-color: #f9f9f9;
  //overflow-wrap: break-word;
  word-break: break-word; //break-all;
  //word-wrap: break-word;
  //flex-wrap: wrap;
  //white-space:normal;
  font-size:small;
  font-family: "Courier New", monospace;
  line-height:1;
  
  clip-path: polygon(10% 0%, 100% 10%, 10% 100%, 0% 10%)
}
