.page,
.post {
  margin-top: 4.5em;
  //margin-bottom: 4em;
 font-family: "Varela Round",Arial,sans-serif;
 font-style: normal;
 font-weight: 400;
 letter-spacing: -0.01em;
}

//.page-title,
//.post-title,
//.post-title a {
//  color: #cecece;
//}
  
.page-title,
.post-title {
  margin-top: 0;
}

.post-categories {
  display: block;
  margin-top: .2rem;
  //margin-bottom: 0rem;
  color: #646464;
}

.categories-other {
  margin-top: 2rem;
}
