---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-categories">
      {% for category in page.categories %}
        {{category}}
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}{% include readtime.html %}
    </div>
  {{ content }}
</article>
<span class="post-share"><small>Share on:&nbsp;</small></span>
<a class="post-share" href="https://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}"><small>Reddit</small></a>
<span class="post-share"><small>&middot;</small></span>
<a class="post-share" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}"><small>Twitter</small></a>
<span class="post-share post-share-desktop"><small>&middot;</small></span>
<a class="post-share post-share-desktop" href="https://t.me/share/url?url={{ site.url }}{{ page.url }}&text={{ page.title }}"><small>Telegram</small></a>
<span class="post-share post-share-mobile"><small>&middot;</small></span>
<a class="post-share post-share-mobile" href="whatsapp://send?text={{ site.url }}{{ page.url }}"><small>Whatsapp</small></a>
<span class="post-share post-share-mobile"><small>&middot;</small></span>
<a class="post-share post-share-mobile" href="tg://msg?text={{ site.url }}{{ page.url }}"><small>Telegram</small></a>
<span class="post-share post-share-mobile"><small>&middot;</small></span>
<a class="post-share post-share-mobile" href="threema://compose?text={{ site.url }}{{ page.url }}"><small>Threema</small></a>
<span class="post-share"><small>&middot;</small></span>
<a class="post-share" href="https://web.skype.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}"><small>Skype</small></a>
<span class="post-share"><small>&middot;</small></span>
<a class="post-share" href="https://lineit.line.me/share/ui?url={{ site.url }}{{ page.url }}&text={{ page.title }}"><small>Line</small></a>

<h3>
  <a style="cursor: pointer;" onclick="history.back()"><small>Back to previous page</small></a>
</h3>
