---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-categories">
      {% for category in page.categories %}
        {{category}}
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}{% include readtime.html %}
    </div>
  {{ content }}
</article>
<a href="whatsapp://send?text={{ site.url }}{{ page.url }}"><small>Share on Whatsapp</small></a>

<h3>
  <a href="{{ site.baseurl }}/"><small>Back to home...</small></a>
</h3>
